# ---- Dependencies ----
**/node_modules/

# ---- Build outputs ----
**/dist/
**/out/
*.tsbuildinfo

# ---- Framework / tool caches ----
**/.vite/
**/.next/
**/.nuxt/
**/.parcel-cache/
**/.cache/
**/.eslintcache
tmp/
temp/
*.tmp

# ---- Logs ----
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ---- Tests / coverage ----
coverage/
.nyc_output/
junit.xml

# ---- Editor / OS junk ----
.vscode/* 
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
.DS_Store
Thumbs.db

# ---- Docker local data (if you add) ----
docker-data/
NUL